<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TrackerEntities" connectionString="metadata=res://*/TrackerModel.csdl|res://*/TrackerModel.ssdl|res://*/TrackerModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=gzora;PASSWORD=ips_dev;PERSIST SECURITY INFO=True;USER ID=IPS_DEV&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>