@{
     ViewBag.Title = "Zadatak kreiran";
}

<h2>Issue reported</h2>

<div class="alert alert-success">
    You've successfully reported new issue - number @ViewBag.DefectId. You can see issue details @Html.ActionLink("here", "Details", new { id = ViewBag.DefectId }).
</div>
