@using System.Web.Optimization

@{
    ViewBag.Title = "Home";
}

<div class="page-header">
    <h1>Last changes</h1>
</div>
<div class="row">
    <div id="last_comments" data-url='@Url.Action("Index","Home")'></div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/react")
    <script type="text/babel" src="~/Scripts/app/last-comments.js"></script>
}