@*@model List<IPS.Tracker.Web.TrackerService.DefectCommentDTO>*@

@{
    ViewBag.Title = "Početna";
}

<div class="page-header">
    <h1>Tracker <small>zadataka</small> </h1>
</div>
<div class="row">
    <div id="last_comments" data-url='@Url.Action("Index","Home")'></div>
    <script type="text/babel" src="~/Scripts/app/last-comments.js" />
</div>
