@model IEnumerable<IPS.Tracker.Web.TrackerService.DefectDTO>

@{
    ViewBag.Title = "View issues by work order";
}

<h2>Summary of issues on work order @ViewBag.RadniNalog</h2>

<div class="toolbox-container pull-left">

</div>

@Html.Partial("ListProblems", Model)