@model List<IPS.Tracker.Web.TrackerService.DefectDTO>

@{
    ViewBag.Title = "Summary of issues assigned to me"; 
}

<h2>Issues assigned to me</h2>

<div class="toolbox-container pull-left">
    @Html.ActionLink("New issue", "ReportNewDefect", null, new { @class = "btn btn-danger" })
</div>

<div class="pull-right">
    @Html.ActionLink("All open issues", "ListProblemsByUser", new { stateDescription = "Aktivni" }, new { @class = "btn btn-default" })
</div>

<div class="clearfix "></div>

@Html.Partial("ListProblems", Model)