<script src="~/Scripts/knockout-3.1.0.js"></script>
@model IEnumerable<IPS.Tracker.Web.TrackerService.DefectDTO>

@{
    var grid = new WebGrid(defaultSort: "Priority");
    grid.Bind(Model, columnNames: new[] { "Id", "Priority", "PriorityDescription", "DefectDate", "StateDescription", "Summary", "WorkOrderName", "AssigneeName", "SprintNo" });
}

<div>
    @grid.GetHtml(
        tableStyle: "table",
        columns: grid.Columns(
            grid.Column(columnName: "Id", header: "No", style: "col-md-1", format: d => Html.ActionLink(((int)d.Id).ToString(), "Details", new { id = d.Id })),
            grid.Column(columnName: "PriorityDescription", header: "Priority", style: "col-md-1"),
            grid.Column(columnName: "StateDescription", header: "State", style: "col-md-1"),
            grid.Column(columnName: "Summary", header: "Summary", style: "col-md-3"),
            grid.Column(columnName: "WorkOrderName", header: "Work order", style: "col-md-3", format: d =>
            {
                if (string.IsNullOrEmpty(d.WorkOrderName))
                    return Html.Raw(string.Empty);
                else
                    return Html.Raw(Html.ActionLink(string.Format("{0} : {1}", (string)d.WorkOrderName, (string)d.WorkOrderLabel), "ListProblemsByWorkOrder", new { workOrderId = d.WorkOrderId, stateDescription = ViewBag.StateDescription }));
            }),
            grid.Column(columnName: "AssigneeName", header: "Assigned to", style: "col-md-2", format: d => Html.ActionLink((string)d.AssigneeName, "ListProblemsByUser", new { userId = d.AssigneeId })),
            grid.Column(columnName: "SprintNo", header: "Sprint", style: "col-md-1", format: d =>
            {
                if (!((int?)d.SprintNo).HasValue)
                    return Html.Raw(String.Empty);
                else
                    return Html.ActionLink((string)d.SprintNo.ToString(), "Search", new { criteria = string.Format("sprint {0}", d.SprintNo) });
            }),
            grid.Column(columnName: "ReleaseId", header: "Release", style: "col-md-1")
        )
    )
</div>