@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    @Scripts.Render("~/bundles/react")
</head>
<body>
    <div id="root"></div>
        <script type="text/babel" src="~/Scripts/app/App.jsx">
    </script>      
</body>
</html>

