@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    @Scripts.Render("~/bundles/react")
    <script src="https://unpkg.com/prop-types@15.5.10/prop-types.js"></script>
    <script src="https://unpkg.com/classnames@2.2.5/index.js"></script>
    <script src="https://unpkg.com/react-input-autosize@2.0.0/dist/react-input-autosize.js"></script>
    <script src="https://unpkg.com/react-select@1.2.1/dist/react-select.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/react-select@1.2.1/dist/react-select.css">
</head>
<body>
    <div id="root"></div>
        <script type="text/babel" src="~/Scripts/app/App.jsx">
    </script>      
</body>
</html>

