@model IEnumerable<IPS.Tracker.Web.Models.ReleaseViewModel>

@{
    ViewBag.Title = "Releases";
}

<h2>Releases</h2>

@using (Html.BeginForm("NewRelease", "Home", FormMethod.Get))
{
    foreach (var release in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Release version: @release.ReleaseNo</div>
                <div class="panel-heading">Release date: @release.EstDateOfRelease</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Task Id:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (var i = 0; i < release.ReleaseListDefectId.Count; i ++)
                            {
                                <td>@release.ReleaseListDefectId[i]</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    }

    //todo : zamijeniti sa velikim plusom
    <div class="form-group">
        <input type="submit" value="Add new release" class="btn btn-danger" />
    </div>
    
}
