<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <appSettings>
    <add key="DetailsUrl" value="http://localhost:35863/Home/Details/"/>
  </appSettings>
  <connectionStrings>
    <add name="TrackerEntities"
      connectionString="metadata=res://*/TrackerModel.csdl|res://*/TrackerModel.ssdl|res://*/TrackerModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=gzora;PASSWORD=ips_dev;PERSIST SECURITY INFO=True;USER ID=ips_dev&quot;"
      providerName="System.Data.EntityClient"/>
    <!--<add name="TrackerEntities" connectionString="metadata=res://*/TrackerModel.csdl|res://*/TrackerModel.ssdl|res://*/TrackerModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=gzora;PASSWORD=azman;PERSIST SECURITY INFO=True;USER ID=ips&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" maxBufferSize="30000000" maxReceivedMessageSize="30000000"/>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="IPS.Tracker.WCF.TrackerService">
        <endpoint address="localhost" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" name="TrackerServiceEndpoint"
          contract="IPS.Tracker.WCF.ITrackerService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="">
        <network host="gzex" userName="ips" password="Rijeka051" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="gzora" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=gzora2)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=gzora10g.gzr.hr))) "/>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
